{% extends "apps/search_panel.html" %}
{% load static %}
{% load i18n %}
{% load app_buttons %}
{% load split %}
{% block main %}

{% if object_list %}
{% list_of_apps_search object_list 'Temp' %}
{% else %}
<h3 class="text-center"> No Search Results found </h3>
<p class="text-center"> Your search for
    <strong> {{ query_string }}</strong> did not match any content.
</p>
{% endif %}

{% endblock %}
