{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if expect_app_name %}
        - Submit a New Release
    {% else %}
        - Submit your App
    {% endif %}
{% endblock %}

{% block more_head %}
    <link href="{% get_static_prefix %}submit_app/css/upload_form.css" rel="stylesheet">
    <script type="text/javascript" src="{% get_static_prefix %}common/js/doc_link.js"></script>

    <style type="text/css">
        #loading { display: none; }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-success">Submit your App
            <button id="tooltip-1" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle"
             title = "">
                <i class="fa fa-question-circle" style="font-size: 30px"></i>
            </button>
        </h1>
    </div>
{{ doc_link }}
    <br/><br/>
    <br/><br/>
    <div class="col-md-12">
        <form action="{% url 'submit-app' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if expect_app_name %}
            <input type="hidden" name="expect_app_name" value="{{ expect_app_name }}">
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <input type="file" name="file" id="input-file" title="No file selected">
                    <label for="input-file" class="input-file-label text-muted" id="input-file-label"> No file selected </label>
                    &nbsp;<i id="delete_file_btn" class="fa fa-trash-o trash"></i>
                    <br />
                    <br />
                    <label class="custom-legend or-button font-weight-bold">or</label>
                    <br />
                    Enter Link&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="url_val" name = "url_val" size="50">
                    &nbsp;<i id="delete_path_btn" class="fa fa-trash-o trash"></i>
                    <br />
                    <p class="ml-4">
                        <i class="text-muted ml-5 pl-5">Best for bitbucket pipeline users. <a href="{% url 'compile-app-with-pipeline' %}"><u>Learn more</u></a></i>
                    </p>
                </div>
            </div>
            <br />
            <span class="center-button">
                <button type="submit" class="btn btn-success big-button">Next</button>
                <div id="loading">
                    <img src="{% get_static_prefix %}common/img/loading.gif">
                </div>
            </span>
        </form>
    </div>
</div>
<br />
<script type="text/javascript">
    var message = "IGB Apps are OSGi bundles, which are ordinary Java jar files with some extra meta-data that enables them to run within IGB’s OSGi run-time. An IGB App also needs an OBR index file named repository.xml. See <a href='" + "{% url 'compile-app-with-pipeline' %}" + "'> developer’s documentation.</a>";

    document.getElementById("tooltip-1").title= message

    $(function() {
        $('form').submit(function() {
            if($('form input[type=file]').val() || $('#url_val').val()){
                $('button[type=submit]').hide();
                $('#loading').show();
            } else {
                Msgs.add_msg('Please upload a file or Enter a URL', 'danger');
                return false;
            }
        })

        $('#delete_file_btn').attr('disabled', 'true');
        $('#delete_path_btn').attr('disabled', 'true');

        $('form input[type=file]').change(function() {
            if ($('form input[type=file]').val()) {
                $('#delete_file_btn').removeAttr('disabled');
                $('#input-file-label').text($('form input[type=file]').val().replace(/^.*[\\\/]/, ''));
            }
            else
                $('button[type=submit]').attr('disabled', 'true');
        });

        $('#url_val').change(function() {
            if ($('#url_val').val()) {
                $('#delete_path_btn').removeAttr('disabled');
            }
        });

         $('#delete_file_btn').click(function () {
            $('form input[type=file]').replaceWith($('form input[type=file]').val('').clone(true));
            $('#input-file-label').text(' No file selected ');
        });

        $('#delete_path_btn').click(function () {
            var url_field = $('form input[id="url_val"]');
            url_field.replaceWith(url_field.val('').clone(true));
        });
    });
</script>
{% endblock %}